.form-signin {
    max-width: 380px;
    margin: auto;
}

.form-signin-heading {
    padding-bottom: 15px;
}

#inputEmail {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#inputPassword {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#inputUser {
    margin-bottom: 10px;
}

#inputEmailReg {
    margin-bottom: 10px;
}

#inputPasswordReg {
    margin-bottom: 10px;
}

#inputRePasswordReg {
    margin-bottom: 25px;
}