@import url(https://fonts.googleapis.com/css?family=Cabin:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,700italic);
html,
body {
  height: 100%;
}

body {
  font-family: "Cabin", sans-serif;
}

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

a:hover {
  text-decoration: none;
}

.cover {
  background-image: url("../img/bg-wall.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  -webkit-transition: background 1s linear;
  -moz-transition: background 1s linear;
  -ms-transition: background 1s linear;
  -o-transition: background 1s linear;
  transition: background 1s linear;
}

.vcenter {
  position: relative;
  top: 15%;
}

.real-vcenter {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.showResults {
  margin: 20px auto;
  padding: 20px 20px 30px 20px;
  background-color: rgba(150, 150, 150, 0.4);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
}

.randomHead {
  margin: 30px;
}

.searchSection form {
  margin-top: 10px;
}

.searchSection #results {
  display: none;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-top: 10px;
  line-height: 1;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
}

.hasBg {
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar-inverse {
  z-index: 2;
  background-color: #262539;
  border: 0px;
  border-radius: 0;
  box-shadow: 0 1px 1px #141129;
  padding: 20px 20px;
}

.navbar-inverse .navbar-brand {
  margin-top: -7px;
  color: rgba(255, 255, 255, 0.7);
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
}

.navbar-inverse .navbar-nav {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

.navbar-inverse .navbar-nav > li > .dropdown-menu {
  border-top-left-radius: 4px;
}

.navbar-inverse .navbar-nav > li > a {
  color: rgba(255, 255, 255, 0.8);
}

.navbar-inverse .navbar-toggle {
  border-color: rgba(255, 255, 255, 0.8);
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar-menu {
  text-transform: uppercase;
}

.dropdown-menu > li > a:hover {
  background-color: rgba(120, 100, 130, 0.3);
}

.brand-lockup {
  position: relative;
  width: 210px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-lockup .logo {
  border-radius: 5px;
  width: 50px;
  height: 50px;
  padding: 0px 5px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  color: #262539;
  font-family: "Cabin", sans-serif;
  font-size: 40px;
}

.brand-lockup .version {
  position: absolute;
  top: 5%;
  right: 0;
  font-family: "Cabin", sans-serif;
  font-size: 10px;
  color: rgba(255, 0, 0, 0.8);
}

.brand-lockup:hover > .logo {
  background-color: rgba(255, 255, 255, 0.9);
}

.brand-lockup:hover .navbar-brand {
  color: rgba(255, 255, 255, 0.9);
}

.brand-lockup:hover .version {
  color: red;
}

.avatar-lockup {
  width: 100px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar-lockup .avatar {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-image: url("../img/avatar.svg");
}

.form-signin {
  max-width: 380px;
  margin: auto;
}

.form-signin-heading {
  padding-bottom: 15px;
}

#inputEmail {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

#inputPassword {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#inputUser,
#inputEmailReg,
#inputPasswordReg {
  margin-bottom: 10px;
}

#inputRePasswordReg {
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  #nb-collapse {
    margin: 15px 0 -15px 0;
  }
}

@media screen and (max-width: 420px) {
  .vcenter {
    top: 0;
  }
  .hasBg {
    display: none;
  }
}
