@import url(https://fonts.googleapis.com/css?family=Cabin:400,700);
html,
body {
  height: 100%;
}

body {
  font-family: "Cabin", sans-serif;
}

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

a:hover {
  text-decoration: none;
}

.topPage,
.cover {
  background-color: #35324a;
  height: 100%;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.vcenter {
  position: relative;
  top: 25%;
}

.real-vcenter {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.showResults {
  margin: 20px auto;
  padding: 20px 20px 30px 20px;
  background-color: rgba(150, 150, 150, 0.4);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
}

.navbar-inverse {
  background: none;
  border: 0px;
}

.navbar-inverse .navbar-brand {
  color: rgba(255, 255, 255, 0.8);
}

.navbar-inverse .navbar-nav > li > a {
  color: rgba(255, 255, 255, 0.8);
}

.navbar-inverse .navbar-toggle {
  border-color: rgba(255, 255, 255, 0.8);
}

.navbar-inverse .navbar-toggle:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.dropdown-menu > li > a:hover {
  background-color: rgba(130, 100, 130, 0.3);
}

.randomHead {
  margin: 30px;
}
