extends template.jade

block content
  .container.vcenter
    .row
      .col-md-12
        h1.randomHead Track your favourite tv shows on <strong><span class="appname">Next Episode</span></strong>
        button.btn.btn-primary.btn-lg Get started
