extends template.jade

block content
  .container.vcenter
    .row
      .col-md-12
        h1.randomHead Track your favourite tv shows on <strong><span class="appname">Next Episode</span></strong>
        button.btn.btn-primary.btn-lg Learn more

block sections
  section.learn-more
    h1 Hello there
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, at aut quidem animi accusantium aliquam inventore repellat odio ratione quas tempore dolor quae facilis corporis odit deleniti asperiores porro eos.
