include includes/vars
include includes/php_config

doctype html
html(lang='en')
  include includes/head
  
  body
    .cover
      include includes/navbar
                  
      block content   
    
    block sections
    
    block footer           
