doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    //favicon
    link(rel='apple-touch-icon-precomposed', sizes='57x57', href='favicon/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='favicon/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='favicon/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='favicon/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon-precomposed', sizes='60x60', href='favicon/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon-precomposed', sizes='120x120', href='favicon/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon-precomposed', sizes='76x76', href='favicon/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon-precomposed', sizes='152x152', href='favicon/apple-touch-icon-152x152.png')
    link(rel='icon', type='image/png', href='favicon/favicon-196x196.png', sizes='196x196')
    link(rel='icon', type='image/png', href='favicon/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='favicon/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='favicon/favicon-16x16.png', sizes='16x16')
    link(rel='icon', type='image/png', href='favicon/favicon-128.png', sizes='128x128')
    meta(name='application-name', content!='&nbsp;')
    meta(name='msapplication-TileColor', content='#FFFFFF')
    meta(name='msapplication-TileImage', content='mfavicon/stile-144x144.png')
    meta(name='msapplication-square70x70logo', content='favicon/mstile-70x70.png')
    meta(name='msapplication-square150x150logo', content='favicon/mstile-150x150.png')
    meta(name='msapplication-wide310x150logo', content='favicon/mstile-310x150.png')
    meta(name='msapplication-square310x310logo', content='favicon/mstile-310x310.png')
    
    
    //jQuery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
    
    //Bootstrap
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    
    //my JS
    script(type='text/javascript', src='js/appname.js')
    
    //moment.js
    script(type='text/javascript', src='js/moment.js')
    
    //my CSS
    link(rel='stylesheet', href='css/layout.css')
    
    title.appname Next Episode
  
  body
    .cover
      .navbar.navbar-inverse
        .container
          .navbar-header
            button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='#nb-collapse', aria-expanded='false')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(href='/nextepisode-full')
              .brand-lockup
                .logo ne
                .navbar-brand.appname Next Episode
                .version alpha
          #nb-collapse.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li.navbar-menu
                a(href='tv-shows') TV Shows
              li.dropdown
                a.navbar-menu.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  .avatar-lockup
                    .avatar
                    | username
                    span.caret
                ul.dropdown-menu
                  li
                    a(href='user/tracker') TV Show Tracker
                  li
                    a(href='user/favourites') My Favourites
                  li
                    a(href='user/my-account') My Account
                  li.divider(role='separator')
                  li
                    a(href='logout') Sign out
      //.tv-mockup
                  
      block content   
    
    block sections
    
    block footer           
